# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# MNIST dataset directory
data/

# IDE specific files
.vscode/
.idea/
*.swp
.DS_Store

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# PyTorch model checkpoints
*.pth
*.pt